@import "./element-variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #f3f4f7;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
  Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

.el-tooltip__popper.is-light {
  padding: 20px !important;
  box-shadow: 0 1px 5px 3px rgb(0 0 0 / 7%);

  &,
  .popper__arrow {
    border: none !important;
  }
}

.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background: #fff;
  color: #ff7a63 !important;
}

// .el-tree-node.is-expanded > .el-tree-node__children .el-tree-node__label{
//   font-size: 12px ;
// }

.el-table {
  color: #20232a;
  border: 1px solid #ebeef5;
  border-bottom: 0;
}

.el-table thead {
  color: #818693;
}

.el-table thead tr th {
  background: #f8faff !important
}

.el-dialog__header {
  padding: 15px 30px 15px;
  background-color: #f3f4f7;
  border-radius: 8px 8px 0 0;
}

.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: auto;
  border-radius: 8px;
}

.el-input__suffix-inner {
  span {
    color: rgb(32, 35, 42);
    font-weight: 400;
    font-size: 14px;
    margin-right: 14px;
  }
}
