@import "./element-variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #f3f4f7;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

.el-tooltip__popper.is-light {
  padding: 20px !important;
  box-shadow: 0 1px 5px 3px rgb(0 0 0 / 7%);
  
  &,.popper__arrow  {
    border: none !important;
  }
}
